.wrapper {
    display: grid;
    grid-template-rows:  min-content;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "h h h h h h"
  	  	                 "t m m m m m"
						"t m m m m m";

    column-gap: 3px;
    row-gap: 3px;
    flex-direction: row;
    align-self: baseline;
}

